.App {
width: 100vw;
height: 100vh;
background-image: linear-gradient(90deg, #002F52 35%, #326589);
}

.App-header {
  background-color: aliceblue;
  display: flex;
}

.opcoes {
  display: flex;
}

.opcao {
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-top: 0%;
  cursor: pointer;
  font-size: 16px;
}

li {
  list-style: none;

}